@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-image: linear-gradient(to bottom right, aqua, rgb(169, 248, 248));
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.btn {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(209, 209, 209);
}

header {
  padding: 10px;
  text-align: center;
  color: rgb(38, 52, 112);
}

header .btn {
  margin: 20px 0;
}
header .number {
  margin: auto;
  text-align: center;
  background-color: white;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  border: 2px solid #666;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  padding: 10px;
}

section {
  align-self: center;
  margin-top: 50px;
  text-align: center;
}

section.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

section.left input {
  display: block;
  border-radius: 5px;
  width: 200px;
  height: 100px;

  padding: 10px 25px;
  margin-right: 10px;

  font-size: 50px;
  text-align: center;
}
